<!DOCTYPE html>
<html>
  <head>
      <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  </head>
  <body>
    <section class="bg-black flex flex-col flex-1">
        <div class="container px-5 py-12 mx-auto lg:px-20">
            <div class="flex flex-col flex-wrap pb-6 mb-12 text-white ">
                <h1 class="mb-12 text-3xl font-medium text-white">
                    The Open Brewery DB REST API
                </h1>
            </div>
    </section>
  </body>
</html>